[submodule "src/brotli"]
	path = src/brotli
	url = https://github.com/google/brotli.git
[submodule "src/libexpat"]
	path = src/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "src/libinjection"]
	path = src/libinjection
	url = https://github.com/client9/libinjection.git
[submodule "src/libmaxminddb"]
	path = src/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb.git
[submodule "src/ip2loc"]
	path = src/ip2loc
	url = https://github.com/chrislim2888/IP2Location-C-Library.git
[submodule "src/udns"]
	path = src/udns
	url = https://github.com/ortclib/udns.git
[submodule "src/unittest-cpp"]
	path = src/unittest-cpp
	url = https://github.com/unittest-cpp/unittest-cpp.git
[submodule "src/luajit"]
	path = src/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
